_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# exclude .gitignore and similar from the generated tarball
.git*           export-ignore
# exclude CI configurations (useless outside the repo)
_config.yml  export-ignore
defaulthosts.txt   export-ignore
index.html   export-ignore
